<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.tms.core.mapper.DataDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.ty.tms.core.bean.po.DataDictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="data_code" jdbcType="VARCHAR" property="dataCode" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="depict" jdbcType="VARCHAR" property="depict" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_uid" jdbcType="INTEGER" property="createUid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_uid" jdbcType="INTEGER" property="updateUid" />
    <result column="del" jdbcType="INTEGER" property="del" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, class_name, data_code, content, depict, remark, create_time, create_uid, 
    update_time, update_uid, del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from data_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ty.tms.core.bean.po.DataDictionary">
    insert into data_dictionary (id, pid, class_name, 
      data_code, content, depict, 
      remark, create_time, create_uid, 
      update_time, update_uid, del
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, 
      #{dataCode,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{depict,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUid,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUid,jdbcType=INTEGER}, #{del,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ty.tms.core.bean.po.DataDictionary">
    insert into data_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="dataCode != null">
        data_code,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="depict != null">
        depict,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUid != null">
        create_uid,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUid != null">
        update_uid,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="dataCode != null">
        #{dataCode,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="depict != null">
        #{depict,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        #{del,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ty.tms.core.bean.po.DataDictionary">
    update data_dictionary
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="dataCode != null">
        data_code = #{dataCode,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="depict != null">
        depict = #{depict,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        update_uid = #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ty.tms.core.bean.po.DataDictionary">
    update data_dictionary
    set pid = #{pid,jdbcType=INTEGER},
      class_name = #{className,jdbcType=VARCHAR},
      data_code = #{dataCode,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      depict = #{depict,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_uid = #{createUid,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_uid = #{updateUid,jdbcType=INTEGER},
      del = #{del,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>