<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.tms.core.mapper.UserCertinfoMapper">
  <resultMap id="BaseResultMap" type="com.ty.tms.core.bean.po.UserCertinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="certurl" jdbcType="VARCHAR" property="certurl" />
    <result column="really" jdbcType="INTEGER" property="really" />
    <result column="attest_type" jdbcType="INTEGER" property="attestType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_uid" jdbcType="INTEGER" property="createUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_uid" jdbcType="INTEGER" property="updateUid" />
    <result column="del" jdbcType="INTEGER" property="del" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, certurl, really, attest_type, remark, update_time, create_uid, create_time, 
    update_uid, del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_certinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_certinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ty.tms.core.bean.po.UserCertinfo">
    insert into user_certinfo (id, uid, certurl, 
      really, attest_type, remark, 
      update_time, create_uid, create_time, 
      update_uid, del)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{certurl,jdbcType=VARCHAR}, 
      #{really,jdbcType=INTEGER}, #{attestType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createUid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUid,jdbcType=INTEGER}, #{del,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ty.tms.core.bean.po.UserCertinfo">
    insert into user_certinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="certurl != null">
        certurl,
      </if>
      <if test="really != null">
        really,
      </if>
      <if test="attestType != null">
        attest_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createUid != null">
        create_uid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUid != null">
        update_uid,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="certurl != null">
        #{certurl,jdbcType=VARCHAR},
      </if>
      <if test="really != null">
        #{really,jdbcType=INTEGER},
      </if>
      <if test="attestType != null">
        #{attestType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        #{del,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ty.tms.core.bean.po.UserCertinfo">
    update user_certinfo
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="certurl != null">
        certurl = #{certurl,jdbcType=VARCHAR},
      </if>
      <if test="really != null">
        really = #{really,jdbcType=INTEGER},
      </if>
      <if test="attestType != null">
        attest_type = #{attestType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null">
        create_uid = #{createUid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null">
        update_uid = #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ty.tms.core.bean.po.UserCertinfo">
    update user_certinfo
    set uid = #{uid,jdbcType=INTEGER},
      certurl = #{certurl,jdbcType=VARCHAR},
      really = #{really,jdbcType=INTEGER},
      attest_type = #{attestType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_uid = #{createUid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_uid = #{updateUid,jdbcType=INTEGER},
      del = #{del,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>